<ul id='songs'>
<%= @songs.each do |song| %>
<li id='song_<%=song.id%>'>Name: <%=song.name %>
  <%= link_to "Show", song_path(song), remote: true  %>
</li>
<% end %>
</ul>
<br>

<%= link_to 'New Song', new_song_path, id: 'new_link', remote: true %>
